@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body:not(.modal-open) {
    padding-right: 0px !important;
}

#user {
    height: 50px;
}

#loginModal, #registreModal, .btn-group, .btn, .jumbotron, .card-title, #editarModal, #crearExpModal, #modalEditar, .card, .list-group-item, #empty {
    font-family: "Lilita One";
}

#adm {
    visibility: hidden;
}

#pag_personal {
    display: none;
    padding-bottom: 30px;
}

.jumbotron {
    margin-bottom: 0;
}

.subtitol {
    text-align: center;
    font-family: "Lilita One";
    color: whitesmoke;
    font-variant: small-caps;
    letter-spacing: 1.75px;
    font-size: 50px;
    box-shadow: 3px 3px 18px #888888;
}

#titol{
    font-family: "Lilita One";
    color: whitesmoke;
    font-variant: small-caps;
    letter-spacing: 1.75px;
    font-size: 50px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 18px #888888;
}

.col-md-2 {
    text-align: center;
}

.navbar {
    padding: 1.2rem 1rem;
    box-shadow: 3px 3px 18px #888888;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
    box-shadow: 3px 3px 18px #888888;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.formulari{
    padding-bottom: 30px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    width: 100%;
    height: 100%;
}

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.8;
}
.jumbotron .container {
    z-index: 2;
    position: relative;
}

#targetesExp{
    display: flex;
}

.btEditar{
    visibility: hidden;
    position: absolute;
    top: 2px;
    right: 2px;
}

#carta:hover button{
    visibility: visible;
}

.d-flex {
    display: inherit!important;
}
